* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  height: 100%;
}

.head {
  height: 295px;
  position: relative;
  border: 1px solid var(--Stroke-Input, #ced4da);
  background: linear-gradient(92deg, #087990 0.12%, #055160 100%);
}

.title {
  color: var(--Cyan-100, #cff4fc);
  text-align: center;
  margin-top: 68px;
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subtitle {
  color: var(--Cyan-100, #cff4fc);
  text-align: center;
  margin-top: 4px;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 171.429% */
}

.form {
  width: 820px;
  height: 64px;

  padding: 22px 0 21px 32px;
  margin: 0 auto;
  margin-top: 68px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--Stroke-Input, #ced4da);
  background: var(---Gray-White, #fff);
}

.plas::-moz-placeholder {
  width: 286px;
  color: var(--Secondary-Light-Color, #abb5be);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 87.5% */
}

.cards {
  background: #edeef3;
  height: 100%;
}
